 /* Apply different background colors to each tile_stats_count */
 .title-wrap-s{
    border:1px solid #000;
    border-radius:10px;
  }
  .title-wrap-s .tile_stats_count:nth-child(1){
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  }
  .title-wrap-s .tile_stats_count:nth-child(2){
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  }
  .title-wrap-s .tile_stats_count:nth-child(3){
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  }
  .title-wrap-s .tile_stats_count:nth-child(4){
    border-bottom: 1px solid #000;
  }
  .title-wrap-s .tile_stats_count:nth-child(5){
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  }
  .title-wrap-s .tile_stats_count:nth-child(6){
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  }
  .title-wrap-s .tile_stats_count:nth-child(7){
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  }
  .title-wrap-s .tile_stats_count:nth-child(8){
    border-bottom: 1px solid #000;
  }
  .title-wrap-s .tile_stats_count:nth-child(9){
  border-right: 1px solid #000;
  }
  
  .title-wrap-s .tile_stats_count:nth-child(10){
  border-right: 1px solid #000;
  }
  .title-wrap-s .tile_stats_count:nth-child(11){
  border-right: 1px solid #000;
  }
  .title-wrap-s .tile_stats_count:nth-child(12){
  
  }



@media (min-width:320px) and (max-width:575px) {
    .title-wrap-s{
        border:1px solid #000;
        border-radius:10px;
      }
      .title-wrap-s .tile_stats_count:nth-child(1){
        border-right:none !important;
      border-bottom: 1px solid #000;
      }
      .title-wrap-s .tile_stats_count:nth-child(2){
        border-right:none !important;
      border-bottom: 1px solid #000;
      }
      .title-wrap-s .tile_stats_count:nth-child(3){
        border-right:none !important;
      border-bottom: 1px solid #000;
      }
      .title-wrap-s .tile_stats_count:nth-child(4){
        border-bottom: 1px solid #000;
      }
      .title-wrap-s .tile_stats_count:nth-child(5){
        border-right:none !important;
      border-bottom: 1px solid #000;
      }
      .title-wrap-s .tile_stats_count:nth-child(6){
        border-right:none !important;
      border-bottom: 1px solid #000;
      }
      .title-wrap-s .tile_stats_count:nth-child(7){
        border-right:none !important;
      border-bottom: 1px solid #000;
      }
      .title-wrap-s .tile_stats_count:nth-child(8){
        border-bottom: 1px solid #000;
      }
      .title-wrap-s .tile_stats_count:nth-child(9){
      border-bottom: 1px solid #000;
      border-right:none !important;
      }
      
      .title-wrap-s .tile_stats_count:nth-child(10){
      border-bottom: 1px solid #000;
      border-right:none !important;
      }
      .title-wrap-s .tile_stats_count:nth-child(11){
      border-bottom: 1px solid #000;
      border-right:none !important;
      }
      .title-wrap-s .tile_stats_count:nth-child(12){
      
      }
}
@media (min-width:768px) and (max-width:991px) {
    .title_stats_count-inner h2 {
        font-size: 12px !important;
    }
}

@media (min-width:576px) and (max-width:767px) {
    .title-wrap-s{
        border:1px solid #000;
        border-radius:10px;
      }
      .title-wrap-s .tile_stats_count:nth-child(1){
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      }
      .title-wrap-s .tile_stats_count:nth-child(2){
        border-right:none !important;
      border-bottom: 1px solid #000;
      }
      .title-wrap-s .tile_stats_count:nth-child(3){
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      }
      .title-wrap-s .tile_stats_count:nth-child(4){
        border-bottom: 1px solid #000;
      }
      .title-wrap-s .tile_stats_count:nth-child(5){
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      }
      .title-wrap-s .tile_stats_count:nth-child(6){
        border-right:none !important;
      border-bottom: 1px solid #000;
      }
      .title-wrap-s .tile_stats_count:nth-child(7){
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      }
      .title-wrap-s .tile_stats_count:nth-child(8){
        border-bottom: 1px solid #000;
        border-right:none !important;
      }
      .title-wrap-s .tile_stats_count:nth-child(9){
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
      }
      
      .title-wrap-s .tile_stats_count:nth-child(10){
        border-bottom: 1px solid #000;
      border-right:none !important;
      }
      .title-wrap-s .tile_stats_count:nth-child(11){
      border-right: 1px solid #000;
      }
      .title-wrap-s .tile_stats_count:nth-child(12){
      
      }
    
}