@media (min-width:1801px) {
    .show-this-section-992 {
        display: none;
    }

    .section5 i {
        display: none;
    }

    li a .emojionearea.show_emoji .emojionearea-picker.emojionearea-picker-position-top {
        right: -150px !important;
    }
          /*--------sidebar Feedback----- */
   .FeedTool {
    top: 331px;
    width: 400px;
    left:100px;
}
#postManagerCalendar .fc-view-container .fc-agendaWeek-view .fc-today {
    padding-top:10px;
 }
}




@media (min-width:1400px) and (max-width:1800px) {
    .show-this-section-992 {
        display: none;
    }

    .section5 i {
        display: none;
    }

    li a .emojionearea.show_emoji .emojionearea-picker.emojionearea-picker-position-top {
        right: -193px !important;
    }

    /*--------sidebar Feedback----- */
    .FeedTool {
        top: 333px;
        width: 400px;
        left: 100px;
    }
          /*--------sidebar Feedback----- */
   .FeedTool {
    top:333px;
    width: 400px;
    left:100px;
}
#postManagerCalendar .fc-view-container .fc-agendaWeek-view .fc-today {
    padding-top:10px;
 }

}


/*18,9,23 */
@media (min-width:1377px) and (max-width:1399px) {

    .social_icon_posts {
        gap: 16px 15px;
    }

    .create_preview_post .create_post .post_now_button .btn {
        padding: 6px 11px !important;
    }

    .section5 i {
        display: none;
    }

    /* emojionarea */
    .emojionearea-picker {
        left: -77px;
        width: 182px !important;
    }

    .emojionearea-wrapper {
        width: 100% !important;
    }

    .emojionearea-search-panel {
        margin-top: 40px;
    }

    .emojionearea-tones {
        padding-top: 5px !important;
    }

    li .emojionearea .emojionearea-picker .emojionearea-search-panel+.emojionearea-scroll-area {
        height: 145px;
    }

    .emojionearea.emojionearea-inline {
        height: 28px !important;
    }
       /*--------sidebar Feedback----- */
   .FeedTool {
    top: 330px;
    width: 400px;
    left:100px;
}
#postManagerCalendar .fc-view-container .fc-agendaWeek-view .fc-today {
    padding-top:7px;
 }
}

/*18,9,23 */
/* spear query */
@media (min-width:992px) and (max-width:1376px) {

    /* Post calendar */
    .fc-widget-header {
        font-size: 16px !important;
    }

    .fc-left h2 {
        font-size: 16px !important;
        width: 123px !important;
        float: right !important;
        margin-top: 13px !important;
    }

    .fc-left {
        width: 116px !important;
        float: right !important;
    }

    .fc-state-default {
        font-size: 13px !important;
    }

    .calender {
        border: none;
    }

    .current-day {
        padding: 10px 10.1px !important;
    }

    #month-year {

        font-size: 16px;

    }

    .prev,
    .next {

        margin-right: 8px;

    }

    .div3 .Edit {

        margin-left: 64px;
    }

    .div3 .Edit2 {

        margin-left: 64px;
    }

    .div3 .Edit3 {

        margin-left: 64px;
    }

    .div3 .Edit4 {

        margin-left: 64px;
    }

    .fa-edit {
        font-size: 19px;
    }

    .Thumbnail a {
        margin-top: 35px;


    }

    .myro {
        text-align: center;
        padding-right: 7px !important;
    }

    .table>:not(caption)>*>* {
        /* padding: 12px 3px !important; */
        padding: 13px 8px !important;
    }

    .Thumbnail a i {

        font-size: 14px;
        height: 19px;
        width: 19px;

    }

    .current-day {
        /* text-align: left; */
        padding-right: 0% !important;
        padding-left: 0% !important;
    }

    .other-month {
        /* text-align: left; */
        padding-right: 0% !important;
        padding-left: 0% !important;
    }

    .table {
        width: 50% !important;
    }

    .calendarmain {
        background: #2C2C2C;
        /* width: 266px; */
        /* height: 1000px; */
    }

    /* salman */
    .leftrightbtn {
        width: 100%;
        left: 10rem;
    }

    .table>:not(caption)>*>* {
        padding: 6px 4px !important;
    }

    .create_preview_post .create_post .post_now_button .btn {
        font-size: 12px !important;
    }

}

/* salman small break point only for calendar start*/
@media (min-width:1200px) and (max-width:1376px) {
    .leftrightbtn {
        width: 100%;
        left: 14rem;
    }

    /*18,9,23 */
    .social_icon_posts {
        gap: 16px 13px;
    }

    /*18,9,23 */

    .table>:not(caption)>*>* {
        padding: 7px 8px !important;
    }

    .section5 i {
        display: none;
    }
 /* emojionarea */
 .emojionearea-picker{
    left: -77px;
    width: 182px !important;
}
.emojionearea-wrapper{
    width: 100% !important;
}
.emojionearea-search-panel{
    margin-top: 40px;
}
.emojionearea-tones{
    padding-top: 5px !important;
}
li .emojionearea .emojionearea-picker .emojionearea-search-panel+.emojionearea-scroll-area {
    height: 145px;
}
.emojionearea.emojionearea-inline {
    height: 35px !important;
}
.FeedTool {
    top: 331px;
    width: 400px;
    left:100px;
}
.calendarmain {
    margin-top: 29px;
}
#postManagerCalendar .fc-header-toolbar .fc-left {
    position: absolute;
    left: 50%;
    top: 74px;
    transform: translate(-50%, -50%);
}
#postManagerCalendar .fc-view-container .fc-agendaWeek-view .fc-today {
    padding-top:7px;
 }
}

/* salman small break point only for calendar end */

@media (min-width:992px) and (max-width:1199px) {
    .post_now_button.schedule_post_button button {
        min-width: 114px !important;
        padding: 10px !important;
    }

    .section5 i {
        display: none;
    }

    /* emojionerea */

    .icon_buttons ul .emojionearea {
        top: 0%;
    }

    .emojionearea-picker {
        width: 250px !important;
    }

    .emojionearea-wrapper {
        width: 100% !important;
    }

    .emojionearea-search-panel {
        margin-top: 40px;
    }

    .emojionearea-tones {
        padding-top: 9px !important;
    }
 /* emojionarea */
 .emojionearea-picker{
    left: -24px;
}
.emojionearea .emojionearea-picker.emojionearea-picker-position-top{
    left: -144px;
}
li .emojionearea .emojionearea-picker .emojionearea-search-panel+.emojionearea-scroll-area {
    height: 145px;
}
   /*--------sidebar Feedback----- */
   .FeedTool {
    top: 332px;
    width: 400px;
    left:100px;
}
.calendarmain {
    margin-top: 29px;
}
.deletepost_btn.mydeltpostbtn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#postManagerCalendar .fc-header-toolbar .fc-left {
    position: absolute;
    left: 50%;
    top: 74px;
    transform: translate(-50%, -50%);
}
#postManagerCalendar .fc-view-container .fc-agendaWeek-view .fc-today {
    padding-top:7px;
 }
}

@media (min-width:768px) and (max-width:991px) {
    .calendarmain {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .fc-left {
        position: absolute;
        top: 7%;
        left: 37%;
        width: 232px !important;
        margin-top: 7px;
    }

    .fc-left h2 {
        font-size: 15px !important;

    }

    .fc-day-header {

        font-size: 18px !important;

    }

    .calender {
        border-radius: 13px 13px 13px 13px;
        /* height: 475px; */
        margin-bottom: 20px;
    }

    .post_manage_calendar.post_manage_calendar_card {
        border-radius: 13px 13px 13px 13px !important;
    }

    .current-day {
        padding: 10px 10.1px !important;
    }

    #month-year {
        font-size: 18px;
    }

    .plus-icon-calender {
        top: 44px;
        left: 2px;
    }

    .fc .fc-toolbar>*>:first-child {
        margin-left: 13px;
    }

    .fc-month-button,
    .fc-agendaWeek-button,
    .fc-agendaDay-button {

        font-size: 11px !important;

    }

    .fc .fc-toolbar>*>* {
        float: right !important;

    }

    .fc-next-button {
        margin-left: 92px !important;

    }

    .fc-right {
        font-size: 11px;
    }

    .plus-icon-calender {

        width: 9px !important;
        height: 8px !important;
        top: 47px !important;
        left: 4px !important;
    }

    .post_now_button input {
        width: calc(95% - 0px) !important;
        /* margin: 5px ; */
    }

    /* salman 9/8/23 */
    .leftrightbtn {
        left: 14rem;
    }

    .prev,
    .next {
        margin-right: 11px !important;
    }

    .add_cap_labal {
        padding: 10px 10px 6px 23px !important;
    }

    .Sub_head h4 {
        padding-left: 29px;
    }

    .post_modal {
        margin-top: 7px;
        padding-left: 20px;
    }

    .Modal_suggession {
        margin-left: 10px;
    }

    .tags_hash {
        justify-content: end;
        width: 100% !important;
    }

    /* salman 9/8/23 */
    .fb-text {
        font-size: 10px;
    }

    .like-counter h4 {
        font-size: 15px;
    }

    .oval-img-div {
        gap: 2px !important;
    }

    .captions {
        gap: 2px !important;
    }

    .cirle-img {
        width: 8px;
        height: 8px;
    }

    .cirle-img img {

        width: 8px;

        align-self: center;
    }

    .fb-image .fb-img {
        margin-bottom: 5px;
    }

    .x-com .x-com-img {
        margin-bottom: 2px;
    }

    .like-para {
        margin-bottom: 8px !important;
    }

    #product-order-chart {
        min-height: 245px !important;
    }

    .cirle-img img {
        padding-top: 17px;
    }

    .social_cards {
        padding: 0 4px !important;
    }

    .AIgeneratedContent_hiddenpart {
        display: none;
    }

    .post_preview_small_screen {
        width: 60% !important;
        margin: auto;
    }

    .add_caption_small_scree_view {
        display: block;
    }

    .show-this-section-992 {
        display: block;
    }

    .owl-nav .owl-prev {
        position: absolute;
        top: 127px !important;
        left: 0;
    }

    .owl-nav .owl-next {
        position: absolute;
        top: 127px !important;
        right: 0;
    }

    .icon_buttons_tags {
        display: flex;
        flex-direction: column;
    }

    .grid_item {
        display: flex;
        justify-content: center;
    }

    .post_now_button.schedule_post_button {
        display: flex;
        flex-direction: column;
        gap: 5px 0px;

    }

    /* -------------------- */
    .create_preview_post .create_post .post_now_button .btn {
        font-size: 15px !important;
    }

    /* -------------------- */

    .post_later_now_btn.post_later_now_btn2 {
        width: calc(95% - 0px) !important;
        margin: auto;
    }

    .post_later_now_btn {
        width: 100% !important;
    }

    /* 18,9,23 */
    .L-Calnd {
        padding-left: 15px;
    }

    .section5 i {
        display: none;
    }

    /* .overlayimg{
        display: none;
    } */
    .mybgcontainer {
        display: none;
    }

    /* razi card_media query end */
    .fc-content-skeleton table tbody tr td .fc-content-col .fc-event-container .fc-time-grid-event .fc-content {
        flex-direction: column;
    }

    .publishedpost {
        width: 100%;
    }

    .Editpost_btn {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* emojionearea */
    .icon_buttons ul .emojionearea {
        top: 0%;
    }

    .emojionearea-picker {
        width: 182px !important;
    }

    .emojionearea-wrapper {
        width: 100% !important;
    }

    .emojionearea-search-panel {
        margin-top: 40px;
    }

    .emojionearea-tones {
        padding-top: 5px !important;
    }
     /* emojionarea */
 .emojionearea-picker{
    left: -140px;
}
li .emojionearea .emojionearea-picker .emojionearea-search-panel+.emojionearea-scroll-area {
    height: 145px;
}
   /*--------sidebar Feedback----- */
   .FeedTool {
    top: 332px;
    width: 300px !important;
    left:100px;
}
.Today-post-detail .NavBtmSec ul{
flex-wrap: wrap;
}
.deletepost_btn.mydeltpostbtn{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.calendar_overflo .Today-post-detail{
    margin-top: -4px !important;
}
.calendarmain {
    margin-top: 31px;
}
#postManagerCalendar .fc-header-toolbar .fc-center {
    position: absolute;
    left: 51%;
    top: 35px;
    transform: translate(-50%, -50%);
}
#postManagerCalendar .fc-header-toolbar .fc-left {
    position: absolute;
    left: 41%;
    top: 70px;
    transform: translate(-50%, -50%);
}
#postManagerCalendar .fc-view-container .fc-agendaWeek-view .fc-head .fc-today span {
    width: 50px;
    height: 50px;
    padding: 7px;
}
#postManagerCalendar .fc-view-container .fc-agendaWeek-view .fc-today {
    padding-top:10px;
 }
}

@media (min-width:577px) and (max-width:767px) {

    .prev,
    .next {
        margin-right: 5px !important;

    }

    .fc .fc-toolbar>*>* {
        float: unset !important;
    }

    .fc-left h2 {
        text-align: center !important;
        font-size: 14px !important;
        margin-bottom: 20px !important;
    }

    .fc-toolbar {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .fc-right {
        margin-bottom: 20px;
    }

    .div3 {
        width: 100%;
    }

    .div3 .Edit {
        width: 100%;
        text-align: end;
    }

    .div3 .Edit2 {
        width: 100%;
        text-align: end;
    }

    .div3 .Edit3 {
        width: 100%;
        text-align: end;
    }

    .div3 .Edit4 {
        width: 100%;
        text-align: end;
    }

    .leftrightbtn {
        left: 87%;
    }

    .myro {
        text-align: center;
    }

    .fc-day-header {
        font-size: 13px !important;

    }

    .fc-day-top {
        font-size: 15px !important;

    }

    .plus-icon-calender {
        top: 50px !important;
        left: 1px !important;
    }

    .calendar2 {
        margin-top: 20px !important;
    }

    .show-this-section-992 {
        display: none;
    }

    .create_preview_post_index_item .preview_post,
    .create_preview_post_index_item .preview_post .preview_wrap {
        width: 74% !important;
        margin: auto;
    }

    .the_preview_card {
        width: 91% !important;
        margin-left: 7px !important;
    }

    .Mobcompny-title {
        width: 91% !important;
        margin-left: 6px !important;
    }

    .Mobcompny-smallicon.Mobcompny_smallicon {
        width: 91% !important;
        margin-left: 6px !important;
    }

    .Mobcart_title.Mobcart_title2 {
        width: 91% !important;
        margin-left: 6px !important;
    }

    .owl-nav .owl-prev {
        position: absolute;
        top: 85px !important;
        left: 0;
        font-size: 20px;
    }

    .owl-nav .owl-next {
        position: absolute;
        top: 85px !important;
        right: 0;
        font-size: 20px;
    }


    /* salman 7/9/23*/
    .fc-content-skeleton,
    .fc-content-skeleton table,
    .fc-content-skeleton table thead {
        height: 100%;
    }

    .post_manage_calendar.post_manage_calendar_card {
        border-radius: 0px 13px 13px 0px !important;
    }

    .fc-scroller.fc-day-grid-container {
        height: max-content !important;
    }

    .add_cap_labal {
        padding: 10px 10px 6px 23px !important;
    }

    .Sub_head h4 {
        padding-left: 29px;
    }

    .post_modal {
        margin-top: 7px;
        padding-left: 20px;
    }

    .Modal_suggession {
        margin-left: 10px;
    }

    /* 18,9,23 */
    .post_thumb {
        padding-bottom: 15px;
    }

    .create_preview_post_index_item .preview_post .preview_wrap.prev_wrap_fb {
        width: 100% !important;
        margin: auto;

    }

    .fc-left {
        position: absolute;
        top: 7%;
        left: 30%;
        width: 232px !important;

    }

    .fc-center {
        margin-top: 11px;
    }

    .section5 i {
        display: none;
    }

    .mybgcontainer {

        width: 100%;
        ;
    }

    /*  */

    .delete_input {
        width: 100%;
    }

    .delete_accountbtn {
        width: 100%;
        margin: 0;
    }

    .index_delete {
        margin-top: 10px;
        width: 100%;
    }

    .maxchar {
        left: 80%;
        top: 30%;
    }

    .user_detail {
        left: 17%;
        top: 30px;

    }

    .post_detailWrap {
        flex-direction: column;
    }

    .DetailText {
        margin-top: 12px !important;
        /* align-items: center; */
        flex-direction: column;
        display: flex !important;
    }

    .DetailText p {
        text-align: center;
    }

    .post_detailWrap .DetailText .publishedpost {
        width: 100% !important;
    }

    .fc-content-skeleton table tbody tr td .fc-content-col .fc-event-container .fc-time-grid-event .fc-content {
        flex-direction: column;
    }

    .fc-event-container .fc-day-grid-event .fc-content .fc-title {
        overflow: auto !important;
        font-size: 10px !important;
        white-space: pre-wrap;
        font-family: inherit !important;
    }

    .Editpost_btn {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
        /* emojionarea */
 .emojionearea-picker{
    left: -100px;
    width: 100%;
}
.emojionearea.emojionearea-inline {
    height: 28px !important;
}
   /*--------sidebar Feedback----- */
   .FeedTool {
    display:none;
    top: 305px;
    width: 300px !important;
    left:30px;
}
.calendar_overflo .Today-post-detail{
    margin-top: 16px !important;
}
.calendarmain {
    margin-top: 24px;
}
.Today-post-detail .NavBtmSec ul{
    flex-direction: column;
}
.Today-post-detail .NavBtmSec li{
   width: 20px;
}
.Today-post-detail .PostHeaderInner :nth-child(1){
    flex-direction: column;
}
.deletepost_btn.mydeltpostbtn{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
#postManagerCalendar .fc-header-toolbar .fc-left {
    position: absolute;
    left: 50%;
    top: 113px;
    transform: translate(-50%, -50%);
}
#postManagerCalendar .fc-header-toolbar .fc-center {
    position: absolute;
    left: 50%;
    top: 65px;
    transform: translate(-50%, -50%);
}
#postManagerCalendar .fc-view-container .fc-agendaWeek-view .fc-head .fc-today span {
    width: 40px;
    height: 38px;
    padding: 6px; 
}
#postManagerCalendar .fc-view-container .fc-content-skeleton .fc-today span {
    width: 15px;
    margin: 5px;
    height: 15px;
}
#postManagerCalendar .fc-view-container .fc-agendaWeek-view .fc-today {
    padding-top:11px;
 }
}


@media (min-width:320px) and (max-width:576px) {

    .fc-content-skeleton,
    .fc-content-skeleton table,
    .fc-content-skeleton table thead {
        height: 100%;
    }

    .post_manage_calendar.post_manage_calendar_card {
        border-radius: 0px 13px 13px 0px !important;
    }

    .fc-scroller.fc-day-grid-container {
        height: max-content !important;
    }

    .calendarmain {
        width: 300px;
    }

    .prev,
    .next {
        font-size: 14px;
        margin: 0%;
    }

    .leftrightbtn {
        left: 10rem;
    }

    #month-year {
        font-size: 14px;
    }

    .post_manage_calendar.post_manage_calendar_card {
        border-radius: 13px 13px 13px 13px !important;
    }


    .calendarmain {
        width: 100%;
    }



    .div3 .Edit {
        text-align: end;
        width: 100%;
    }

    .div3 .Edit1 {
        text-align: end;
        width: 100%;
    }

    .div3 .Edit2 {
        text-align: end;
        width: 100%;
    }

    .div3 .Edit3 {
        text-align: end;
        width: 100%;
    }

    .div3 .Edit4 {
        text-align: end;
        width: 100%;
    }

    .div3 .Edit a {
        font-size: 9px;

    }

    .div3 .Edit1 a {
        font-size: 9px;

    }

    .div3 .Edit2 a {
        font-size: 9px;

    }

    .div3 .Edit2 a {
        font-size: 9px;

    }

    .div3 .Edit3 a {
        font-size: 9px;

    }

    .div3 .Edit4 a {
        font-size: 9px;

    }

    .fa-edit {
        font-size: 16px;

    }

    .myro {
        font-size: 6px;
    }

    .Thumbnail h3 {

        font-size: 14px;

    }

    .Thumbnail a i {
        font-size: 11px;
        height: 15px;
        width: 14px;
    }

    .Thumbnail a {
        margin-top: 32px;
        margin-left: 3px;
    }

    .leftrightbtn {
        margin-top: 14px;

    }

    .div2 h1 {

        font-size: 14px;

    }

    .div2 h3 {
        font-size: 14px;

    }

    .fc-toolbar {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .fc-left h2 {
        text-align: center !important;
        font-size: 14px !important;
        margin-bottom: 20px !important;
    }

    .fc .fc-toolbar>*>* {
        float: unset !important;
    }


    .the_post_manager .fc .fc-button {
        font-size: 12px !important;

    }

    .fc-next-button {
        margin-left: 70px !important;

    }

    .fc-right {
        margin-bottom: 20px;
    }

    .fc-button-group {
        display: flex !important;
    }

    .fc-day-header span {
        font-size: 8px;
        padding-right: 5px;
    }

    .fc-day-top {
        font-size: 10px !important;

    }

    .plus-icon-calender {
        padding: 5px !important;
        font-size: 8px !important;
        width: 8px !important;
        height: 8px !important;
        left: 0px !important;
        top: 51px !important;
    }

    .fc-next-button {
        margin-left: 84px !important;
    }

    .calendar2 {
        margin-top: 20px !important;
    }

    .show-this-section-992 {
        display: none;
    }

    .the_preview_card {
        width: 91% !important;
        margin-left: 7px !important;
    }

    .Mobcompny-title {
        width: 91% !important;
        margin-left: 6px !important;
    }

    .Mobcompny-smallicon.Mobcompny_smallicon {
        width: 91% !important;
        margin-left: 6px !important;
    }

    .Mobcart_title.Mobcart_title2 {
        width: 91% !important;
        margin-left: 6px !important;
    }

    .owl-nav .owl-prev {
        position: absolute;
        top: 163px !important;
        left: 0;

    }

    .owl-nav .owl-next {
        position: absolute;
        top: 163px !important;
        right: 0;

    }

    .myro {
        text-align: center;
        font-size: 10px;
        padding: 0% !important;
    }

    .other-month {
        font-size: 10px;
        padding: 11px 7.1px !important;
    }

    .current-day {
        font-size: 10px;
        padding: 28px 7.1px !important;
    }

    .fc-row.fc-widget-header table thead tr .fc-axis.fc-widget-header {
        display: none !important;
    }

    .fc-ltr .fc-axis {
        font-size: 10px;
    }

    .current-day {
        padding-left: 0px !important;
        padding-right: 0px !important;
        font-size: 11px;
        padding: 11px 7.1px !important;
    }

    .other-month {
        font-size: 10px;
        padding: 11px 7.1px !important;
    }

    /* 18,9,23 */
    .social_icon_posts {
        flex-wrap: nowrap;
    }

    .post_thumb {
        padding-bottom: 15px;
    }

    /* 18,9,23 */
    .post_modal_con:nth-child(3),
    .post_modal_con:nth-child(4),
    .post_modal_con:nth-child(5) {
        height: 71px !important;
    }

    .post_modal_con {
        height: 111px !important;
    }


    /* ------------ */
    .post_now_button.schedule_post_button {
        display: flex;
        flex-direction: column;
        gap: 12px 0px
    }

    /* ------------ */

    .small_viewicons {
        flex-direction: column;
    }

    .small_viewicons2 {
        flex-direction: column;
        margin-right: 10px;

    }

    .myshare_icon {
        width: 20px;
    }

    .icon_text3 {
        font-size: 12px;
    }

    .fc-left {
        position: absolute;
        top: 7%;
        left: 16%;
        width: 232px !important;
        /* float: right !important; */
    }

    .fc-center {
        margin-top: 11px;
    }

    .section5 i {
        display: none;
    }

    .mybgcontainer {
        width: 100%;
        ;
    }

    .post_detailWrap {
        flex-direction: column;
    }

    .DetailText {
        margin-top: 12px !important;
        /* align-items: center; */
        flex-direction: column;
        display: flex !important;
    }

    .DetailText p {
        text-align: center;
    }

    .post_detailWrap .DetailText .publishedpost {
        width: 100% !important;
    }

    .post_detailWrap {
        padding: 0px 0px 5px 0px !important;
    }

    .fc-view-container .fc-view table tbody tr .fc-widget-content .fc-day-grid-container {
        margin: 0px !important;
    }

    .fc-content-skeleton table tbody tr td.fc-event-container .fc-day-grid-event .fc-content .fc-time::before {
        margin: 0px;
    }

    .fc-event-container .fc-day-grid-event .fc-content .fc-title {
        overflow: auto !important;
        font-size: 10px !important;
        white-space: pre-wrap;
        font-family: inherit !important;
    }

    .fc-content-skeleton table tbody tr td .fc-content-col .fc-event-container .fc-time-grid-event .fc-content {
        flex-direction: column;
    }

    .Editpost_btn {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .flex-direct {
        flex-direction: column;
    }

    .platform_selection {
        display: flex;
        justify-content: space-between;
    }

    /* emojionearea */
    /* .icon_buttons  ul .emojionearea {
        top: 110px;
    } */
    /* emojionarea */
    .emojionearea-picker {
        left: -134px;
        width: 182px !important;
    }

    .emojionearea-wrapper {
        width: 100% !important;
    }

    .emojionearea-search-panel {
        margin-top: 40px;
    }

    .emojionearea-tones {
        padding-top: 5px !important;
    }

    li .emojionearea .emojionearea-picker .emojionearea-search-panel+.emojionearea-scroll-area {
        height: 145px;
    }

    .emojionearea.emojionearea-inline {
        height: 28px !important;
    }

    /*--------sidebar Feedback----- */
    .FeedTool {
        display: none;
        top: 305px;
        width: 272px !important;
        left: 30px;
    }

    .open_emoji {
        height: 23px;
    }

    .calendarmain {
        margin-top: 16px;
    }

    .post_detailWrap .sidebar_post {
        width: 55px;
    }

    .calendarmain .post_detailWrap .DetailText {
        padding-left: 0px;
    }

    .Today-post-detail .NavBtmSec ul {
        flex-wrap: wrap;
        }
        .deletepost_btn.mydeltpostbtn{
            gap: 10px;
            display: flex;
            flex-direction: column;
        }
        .calendar_overflo .Today-post-detail{
            margin-top: 17px !important;
        }
        #postManagerCalendar .fc-header-toolbar .fc-left {
            position: absolute;
            left: 50%;
            top: 113px;
            transform: translate(-50%, -50%);
        }
        #postManagerCalendar .fc-header-toolbar .fc-center {
            position: absolute;
            left: 50%;
            top: 66px;
            transform: translate(-50%, -50%);
        }
        #postManagerCalendar .fc-view-container .fc-agendaWeek-view .fc-head .fc-today span {
            width: 23px;
            height: 23px;
            padding: 6px;
        }
        #postManagerCalendar .fc-view-container .fc-content-skeleton .fc-today span {
            width: 10px;
            margin: 3px;
            height: 10px;
       
        }
        #postManagerCalendar .fc-view-container .fc-agendaWeek-view .fc-today {
            padding-top:10px;
         }
}

/* media  query */